@model PojistovnaWebApp.Models.SeznamPojisteni

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SeznamPojisteni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NazevPojisteni" class="control-label"></label>
                <input asp-for="NazevPojisteni" class="form-control" />
                <span asp-validation-for="NazevPojisteni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perex" class="control-label"></label>
                <input asp-for="Perex" class="form-control" />
                <span asp-validation-for="Perex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

