html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-underline {
    border-bottom: 2px solid transparent;
}

    .navbar-underline:hover {
        border-bottom: 2px solid white;
    }